.main-dashboard {
    height: 100%;
    width: 100%;
}

.image-handling {
    align-self: center;
    display: grid;
    gap: 15px;
    grid-template-rows: 5% 95%;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50%;
    margin: 10% auto 0 auto;
    justify-self: center;
    width: 80%;
}

.image-handling-labels {
    text-align: center;
}

.image-drop {
    align-items: center;
    background-color: rgb(73, 126, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-grow: 1; */
    width: 100%;
    height: 100%;
}

.image-drop mat-icon, .no-image-available mat-icon {
    font-size: 250px;
    height: 50%;
    width: 250px;
}

.mat-icon-colors {
    background-color: black;
    border-radius: 2rem;
    color: white;
}

.image-preview {
    background-color: rgb(73, 126, 239);
    border: 2px solid black;
    height: 100%;
    position: relative;
    width: 100%;
}

.uploaded_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
}

.showDropAreaBorder {
    border: 3px dashed #333;
}

.hideDropAreaBorder {
    border: 3px dashed #ccc
}

.no-image-available {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#file-list {
    padding: 20px 20%;
    width: 60%;
}

#file-list p {
    text-align: center;
    margin: 15px 0px;
}

.scrollContainers {
    display: grid;
    height: 10%;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 85%;
}

.training-file-list-scroll-container, .testing-file-list-scroll-container {
    /* border-radius: 2rem 0% 0% 2rem; */
    max-height: 100px;
    overflow-y: scroll;
}

/* changing the view of the scrollbar in the gallery-content */
.training-file-list-scroll-container::-webkit-scrollbar, .testing-file-list-scroll-container::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
.training-file-list-scroll-container::-webkit-scrollbar-track, .testing-file-list-scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* border radius is 42px so decrease height to have scroll bar fit inside */
    border-radius: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  

/* Handle */
.training-file-list-scroll-container::-webkit-scrollbar-thumb, .testing-file-list-scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
}
    
/* Handle on hover */
.training-file-list-scroll-container::-webkit-scrollbar-thumb:hover, .testing-file-list-scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.start-processing-container {
    padding: 20px 30%;
    width: 40%; 
}

.start-processing {
    align-items: flex-start;
    border: solid black 2px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
}

#startProcessingButton {
    align-self: center;
    background-color: rgb(73, 126, 239);
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    width: 40%;
}

#startProcessingButton:disabled {
    background-color: rgb(144, 147, 156);
    cursor: initial;
}