.nav-bar-options {
    align-items: center;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    width: 100%;
}

.other-page-options {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: flex-end;
}

.other-icon-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

span {
    cursor: pointer;
}

#github-logo {
    align-self: center;
    height: 50px;
    margin: 0, 8px;
    justify-self: center;
    top: 5px;
}